<div class="row">
<h2><%= @category.name%></h2>
<h1> </h1>
<h1 class="spaceq"> </h1>
<p><%= @category.description%></p>
</div>

<form >
<div class="input-group mb-3">
  <%= simple_form_for :search, url: "/search", method: "GET" do |f| %>
    <%= f.input :name, :label => "Search fragrance:", :required => false, input_html: {value: ""}, html: { class: 'form-control' } %>
    <div class="input-group-append">
    <%= f.submit "Search", class: "btn btn-primary" %>
    </div>
  <% end %>
  </div>
</form>

<div class="container-fluid">
<% if @products.empty?%>
  <p>There no products yet</p>
<% else %>
  <%= paginate @products %>
    <div class="d-flex justify-content-around flex-wrap">
      <%= render partial: 'product', collection: @products %>
    </div>
  <%= paginate @products %>
<% end %>
 </div>
</div>
