<h1 class="display-3">Shopping Cart</h1>
<div class="container-fluid">
  <table class="table table-striped">
    <thead>
        <tr>
          <th>Product</th>
          <th>Count</th>
          <th>Price</th>
          <th></th>
        </tr>
    </thead>
    <tbody>
    <% @cart.each do |product| %>
      <tr>
        <td><%= product.name%></td>
        <td>
          <%= form_for line_item do |f| %>
            <%= f.select_tag :quantity, 'options_for_quantity' %>
            <%= f.submit, method: :patch %>
          <% end %>
        </td>
        <td><%= product.price%></td>
        <td><%= button_to 'remove from cart', remove_from_cart_path(product), method: :delete %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
