<h1 class="display-3">Shopping Cart</h1>
<%= javascript_pack_tag 'cart.js' %>
<div class="container-fluid">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th></th>
      <th>Product Price</th>
      <th></th>
      <th>Total Price</th>
    </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
      <% unless product.nil? %>
        <tr class='product' id='id_<%= product["id"] %>'>
          <td><%= product["name"] %></td>
          <td class='quantity'>
            <%= product["quantity"] %></td>
          </td>
          <td>
            <div style="float:left;">
              <%= button_to "+", qty_line_item_add_path(:id => product["id"], :operation => "plus"),
                            method: :post, remote: true %>
            </div>
            <div style="float:left;">
              <%= button_to "-", qty_line_item_delete_path(:id => product["id"], :operation => "minus"),
                            method: :post, remote: true %>
            </div>
          </td>
          <td><%= number_to_currency(product["price"]) %></td>
          <td><%= button_to 'Remove', remove_from_cart_path(:id => product["id"]), method: :delete, remote: true %></td>
          <td class='product_total'><%= number_to_currency(product["quantity"] * product["price"].to_f) %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
    <tfoot>
    <tr>
      <td>Subtotal</td>
      <td class='subtotal'>CAD<%= number_to_currency(@subtotal) %></td>
    </tr>
    <tr>
      <td>Taxes</td>
      <td class='taxes'>CAD<%= number_to_currency(@taxes) %></td>
    </tr>
    <tr>
      <td>Total</td>
      <td class='total'>CAD<%= number_to_currency(@total) %></td>
    </tr>
    <tr>
      <td><%= button_to 'Checkout', checkout_create_path, method: :post,  params: {total: @total}, remote: true, class: "btn btn-dark"%></td>
    </tr>
    </tfoot>
  </table>
</div>
