<div class="col-sm-6 text-left">
<h2><%= @product.name%></h2>
<h1 class="spaceq"> </h1>
<%= image_tag @product.image, :class => "style_image" %>
<h1 class="spaceq"> </h1>
<p><%= @product.description%></p>
<p class="card-text">CAD <%= number_to_currency(@product.price) %></p>
<p class="card-text"><%= @product.volume %> ml</p>
<p class="card-text"><%= link_to 'add to cart', add_to_cart_path(@product.id), method: :post %></p>
</div>
